.banner{
    // background-color: rgb(224, 0, 0);
    background: url("../assets/imgs/bg3.png") no-repeat center center;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &_title{
        color: white;
        margin:  3vh;

    }
    &_line{
        width: 200px;
        height: 10px;
        border-radius:20px;
        background-color: white;
    }
}