.banner{
    background-color: rgb(224, 0, 0);
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    &_title{
        color: white;
        margin:  3vh;

    }
    &_line{
        width: 100px;
        height: 2px;
        background-color: white;
    }
}