.navbar{
    background-color: green;
    padding: 2vh 3vw;
    height: 8vh;
    &_ul{
        display: flex;
        
        li{
            text-decoration: none;
            list-style: none;
            padding: 0 1.5vw;
            color: white;
            a{
                font-size: 20px;
                color: white;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: #eea42e;
                }
            }
        }
    }
}